<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
           <key>code</key>
           <string>+82</string>
           <key>country</key>
           <string>대한민국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 840</string>
           <key>country</key>
           <string>아브하즈 자치공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+93</string>
           <key>country</key>
           <string>아프가니스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+355</string>
           <key>country</key>
           <string>알바니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+213</string>
           <key>country</key>
           <string>알제리</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 684</string>
           <key>country</key>
           <string>미국령 사모아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+376</string>
           <key>country</key>
           <string>안도라</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+244</string>
           <key>country</key>
           <string>앙골라</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 264</string>
           <key>country</key>
           <string>앙귈라</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>앤티가 바부다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+54</string>
           <key>country</key>
           <string>아르헨티나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+374</string>
           <key>country</key>
           <string>아르메니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+297</string>
           <key>country</key>
           <string>아루바</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+247</string>
           <key>country</key>
           <string>어센션 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>호주</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>호주 외부 영토</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+43</string>
           <key>country</key>
           <string>오스트리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+994</string>
           <key>country</key>
           <string>아제르바이잔</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 242</string>
           <key>country</key>
           <string>바하마</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+973</string>
           <key>country</key>
           <string>바레인</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+880</string>
           <key>country</key>
           <string>방글라데시</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 246</string>
           <key>country</key>
           <string>바베이도스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>바브다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+375</string>
           <key>country</key>
           <string>벨로루시</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+32</string>
           <key>country</key>
           <string>벨기에</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+501</string>
           <key>country</key>
           <string>벨리즈</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+229</string>
           <key>country</key>
           <string>베냉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 441</string>
           <key>country</key>
           <string>버뮤다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+975</string>
           <key>country</key>
           <string>부탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+591</string>
           <key>country</key>
           <string>볼리비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+387</string>
           <key>country</key>
           <string>보스니아 헤르체고비나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+267</string>
           <key>country</key>
           <string>보츠와나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+55</string>
           <key>country</key>
           <string>브라질</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>영국령 인도양 식민지</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 284</string>
           <key>country</key>
           <string>영국령 버진 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+673</string>
           <key>country</key>
           <string>브루나이</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+359</string>
           <key>country</key>
           <string>불가리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+226</string>
           <key>country</key>
           <string>부르키나 파소</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+257</string>
           <key>country</key>
           <string>부룬디</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+855</string>
           <key>country</key>
           <string>캄보디아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+237</string>
           <key>country</key>
           <string>카메룬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>캐나다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+238</string>
           <key>country</key>
           <string>카보베르데</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+ 345</string>
           <key>country</key>
           <string>케이맨 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+236</string>
           <key>country</key>
           <string>중앙아프리카 공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+235</string>
           <key>country</key>
           <string>차드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>칠레</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+86</string>
           <key>country</key>
           <string>중국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>크리스마스 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>코코스 - 킬링 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+57</string>
           <key>country</key>
           <string>콜롬비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+269</string>
           <key>country</key>
           <string>코모로</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>콩고</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+243</string>
           <key>country</key>
           <string>콩고 민주 공화국(자이르)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+682</string>
           <key>country</key>
           <string>쿡 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+506</string>
           <key>country</key>
           <string>코스타리카</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+385</string>
           <key>country</key>
           <string>크로아티아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+53</string>
           <key>country</key>
           <string>쿠바</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>쿠라사우</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+537</string>
           <key>country</key>
           <string>키프로스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+420</string>
           <key>country</key>
           <string>체코 공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+45</string>
           <key>country</key>
           <string>덴마크</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>디에고 가르시아 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+253</string>
           <key>country</key>
           <string>지부티</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 767</string>
           <key>country</key>
           <string>도미니카</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 809</string>
           <key>country</key>
           <string>도미니카 공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>동 티모르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>이스터 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+593</string>
           <key>country</key>
           <string>에콰도르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+20</string>
           <key>country</key>
           <string>이집트</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+503</string>
           <key>country</key>
           <string>엘살바도르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+240</string>
           <key>country</key>
           <string>적도 기니</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+291</string>
           <key>country</key>
           <string>에리트레아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+372</string>
           <key>country</key>
           <string>에스토니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+251</string>
           <key>country</key>
           <string>에티오피아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>포클랜드 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+298</string>
           <key>country</key>
           <string>페로 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+679</string>
           <key>country</key>
           <string>피지</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+358</string>
           <key>country</key>
           <string>핀란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+33</string>
           <key>country</key>
           <string>프랑스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>프랑스령 앤틸리스 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+594</string>
           <key>country</key>
           <string>프랑스령 기아나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+689</string>
           <key>country</key>
           <string>프랑스령 폴리네시아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+241</string>
           <key>country</key>
           <string>가봉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+220</string>
           <key>country</key>
           <string>감비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+995</string>
           <key>country</key>
           <string>그루지야</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+49</string>
           <key>country</key>
           <string>독일</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+233</string>
           <key>country</key>
           <string>가나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+350</string>
           <key>country</key>
           <string>지브롤터</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+30</string>
           <key>country</key>
           <string>그리스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+299</string>
           <key>country</key>
           <string>그린란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 473</string>
           <key>country</key>
           <string>그레나다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+590</string>
           <key>country</key>
           <string>과들루프</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 671</string>
           <key>country</key>
           <string>괌</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+502</string>
           <key>country</key>
           <string>과테말라</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+224</string>
           <key>country</key>
           <string>기니</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+245</string>
           <key>country</key>
           <string>기니비사우</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>가이아나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+509</string>
           <key>country</key>
           <string>아이티</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+504</string>
           <key>country</key>
           <string>온두라스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+852</string>
           <key>country</key>
           <string>중화 인민공화국 홍콩 특별행정구</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+36</string>
           <key>country</key>
           <string>헝가리</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+354</string>
           <key>country</key>
           <string>아이슬란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+91</string>
           <key>country</key>
           <string>인도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+62</string>
           <key>country</key>
           <string>인도네시아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+98</string>
           <key>country</key>
           <string>이란</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+964</string>
           <key>country</key>
           <string>이라크</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+353</string>
           <key>country</key>
           <string>아일랜드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+972</string>
           <key>country</key>
           <string>이스라엘</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+39</string>
           <key>country</key>
           <string>이탈리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+225</string>
           <key>country</key>
           <string>코트디부아르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 876</string>
           <key>country</key>
           <string>자메이카</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+81</string>
           <key>country</key>
           <string>일본</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+962</string>
           <key>country</key>
           <string>요르단</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 7</string>
           <key>country</key>
           <string>카자흐스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+254</string>
           <key>country</key>
           <string>케냐</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+686</string>
           <key>country</key>
           <string>키리바시</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+965</string>
           <key>country</key>
           <string>쿠웨이트</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+996</string>
           <key>country</key>
           <string>키르기스스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+856</string>
           <key>country</key>
           <string>라오스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+371</string>
           <key>country</key>
           <string>라트비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+961</string>
           <key>country</key>
           <string>레바논</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+266</string>
           <key>country</key>
           <string>레소토</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+231</string>
           <key>country</key>
           <string>라이베리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+218</string>
           <key>country</key>
           <string>리비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+423</string>
           <key>country</key>
           <string>리히텐슈타인</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+370</string>
           <key>country</key>
           <string>리투아니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+352</string>
           <key>country</key>
           <string>룩셈부르크</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+853</string>
           <key>country</key>
           <string>중화 인민공화국 마카오 특별행정구</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+389</string>
           <key>country</key>
           <string>마케도니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+261</string>
           <key>country</key>
           <string>마다가스카르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+265</string>
           <key>country</key>
           <string>말라위</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+60</string>
           <key>country</key>
           <string>말레이시아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+960</string>
           <key>country</key>
           <string>몰디브</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+223</string>
           <key>country</key>
           <string>말리</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+356</string>
           <key>country</key>
           <string>몰타</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+692</string>
           <key>country</key>
           <string>마샬 군도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>마르티니크</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+222</string>
           <key>country</key>
           <string>모리타니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+230</string>
           <key>country</key>
           <string>모리셔스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>마요트 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+52</string>
           <key>country</key>
           <string>멕시코</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+691</string>
           <key>country</key>
           <string>마이크로네시아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>미드웨이 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+373</string>
           <key>country</key>
           <string>몰도바</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+377</string>
           <key>country</key>
           <string>모나코</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+976</string>
           <key>country</key>
           <string>몽골</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+382</string>
           <key>country</key>
           <string>몬테네그로</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1664</string>
           <key>country</key>
           <string>몬트세라트</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+212</string>
           <key>country</key>
           <string>모로코</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+95</string>
           <key>country</key>
           <string>미얀마</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>나미비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+674</string>
           <key>country</key>
           <string>나우루</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+977</string>
           <key>country</key>
           <string>네팔</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+31</string>
           <key>country</key>
           <string>네덜란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>네덜란드령 앤틸리스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 869</string>
           <key>country</key>
           <string>네비스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+687</string>
           <key>country</key>
           <string>뉴칼레도니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+64</string>
           <key>country</key>
           <string>뉴질랜드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+505</string>
           <key>country</key>
           <string>니카라과</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+227</string>
           <key>country</key>
           <string>니제르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+234</string>
           <key>country</key>
           <string>나이지리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+683</string>
           <key>country</key>
           <string>니우에 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>노퍽 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+850</string>
           <key>country</key>
           <string>북한</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 670</string>
           <key>country</key>
           <string>북마리아나 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+47</string>
           <key>country</key>
           <string>노르웨이</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+968</string>
           <key>country</key>
           <string>오만</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+92</string>
           <key>country</key>
           <string>파키스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+680</string>
           <key>country</key>
           <string>팔라우</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+970</string>
           <key>country</key>
           <string>팔레스타인</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+507</string>
           <key>country</key>
           <string>파나마</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+675</string>
           <key>country</key>
           <string>파푸아뉴기니</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>파라과이</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+51</string>
           <key>country</key>
           <string>페루</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+63</string>
           <key>country</key>
           <string>필리핀</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+48</string>
           <key>country</key>
           <string>폴란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+351</string>
           <key>country</key>
           <string>포르투갈</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 787</string>
           <key>country</key>
           <string>푸에르토리코</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+974</string>
           <key>country</key>
           <string>카타르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>레위니옹</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+40</string>
           <key>country</key>
           <string>루마니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7</string>
           <key>country</key>
           <string>러시아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+250</string>
           <key>country</key>
           <string>르완다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+685</string>
           <key>country</key>
           <string>사모아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+378</string>
           <key>country</key>
           <string>산마리노</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+966</string>
           <key>country</key>
           <string>사우디아라비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+221</string>
           <key>country</key>
           <string>세네갈</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+381</string>
           <key>country</key>
           <string>세르비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+248</string>
           <key>country</key>
           <string>세이셸</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+232</string>
           <key>country</key>
           <string>시에라리온</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+65</string>
           <key>country</key>
           <string>싱가포르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+421</string>
           <key>country</key>
           <string>슬로바키아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+386</string>
           <key>country</key>
           <string>슬로베니아 공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+677</string>
           <key>country</key>
           <string>솔로몬 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+27</string>
           <key>country</key>
           <string>남아프리카 공화국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>사우스 조지아 및 사우스 샌드위치 군도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+34</string>
           <key>country</key>
           <string>스페인</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+94</string>
           <key>country</key>
           <string>스리랑카</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+249</string>
           <key>country</key>
           <string>수단</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+597</string>
           <key>country</key>
           <string>수리남</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>스와질란드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+46</string>
           <key>country</key>
           <string>스웨덴</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+41</string>
           <key>country</key>
           <string>스위스</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+963</string>
           <key>country</key>
           <string>시리아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+886</string>
           <key>country</key>
           <string>대만</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+992</string>
           <key>country</key>
           <string>타지키스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>탄자니아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+66</string>
           <key>country</key>
           <string>태국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>동티모르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+228</string>
           <key>country</key>
           <string>토고</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+690</string>
           <key>country</key>
           <string>토켈라우</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+676</string>
           <key>country</key>
           <string>통가</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 868</string>
           <key>country</key>
           <string>트리니다드 토바고</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+216</string>
           <key>country</key>
           <string>튀니지</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+90</string>
           <key>country</key>
           <string>터키</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+993</string>
           <key>country</key>
           <string>투르크메니스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 649</string>
           <key>country</key>
           <string>터크스 케이커스 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+688</string>
           <key>country</key>
           <string>투발루</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 340</string>
           <key>country</key>
           <string>미국령 버진 아일랜드</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+256</string>
           <key>country</key>
           <string>우간다</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+380</string>
           <key>country</key>
           <string>우크라이나</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+971</string>
           <key>country</key>
           <string>아랍에미리트 연합국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+44</string>
           <key>country</key>
           <string>영국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>미국</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+598</string>
           <key>country</key>
           <string>우루과이</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+998</string>
           <key>country</key>
           <string>우즈베키스탄</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+678</string>
           <key>country</key>
           <string>바누아투</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+58</string>
           <key>country</key>
           <string>베네수엘라</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+84</string>
           <key>country</key>
           <string>베트남</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>웨이크 섬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+681</string>
           <key>country</key>
           <string>월리스 푸투나 제도</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+967</string>
           <key>country</key>
           <string>예멘</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+260</string>
           <key>country</key>
           <string>잠비아</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>잔지바르</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+263</string>
           <key>country</key>
           <string>짐바브웨</string>
        </dict></array>
	</plist>