<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>+1</string>
		<key>country</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+7 840</string>
		<key>country</key>
		<string>Abkhazia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+93</string>
		<key>country</key>
		<string>Afghanistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+355</string>
		<key>country</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+213</string>
		<key>country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 684</string>
		<key>country</key>
		<string>American Samoa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+376</string>
		<key>country</key>
		<string>Andorra</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+244</string>
		<key>country</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 264</string>
		<key>country</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 268</string>
		<key>country</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+54</string>
		<key>country</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+374</string>
		<key>country</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+297</string>
		<key>country</key>
		<string>Aruba</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+247</string>
		<key>country</key>
		<string>Ascension</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+672</string>
		<key>country</key>
		<string>Australian External Territories</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+43</string>
		<key>country</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+994</string>
		<key>country</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 242</string>
		<key>country</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+973</string>
		<key>country</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+880</string>
		<key>country</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 246</string>
		<key>country</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 268</string>
		<key>country</key>
		<string>Barbuda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+375</string>
		<key>country</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+32</string>
		<key>country</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+501</string>
		<key>country</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+229</string>
		<key>country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 441</string>
		<key>country</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+975</string>
		<key>country</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+591</string>
		<key>country</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+387</string>
		<key>country</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+267</string>
		<key>country</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+55</string>
		<key>country</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+246</string>
		<key>country</key>
		<string>British Indian Ocean Territory</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 284</string>
		<key>country</key>
		<string>British Virgin Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+673</string>
		<key>country</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+359</string>
		<key>country</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+226</string>
		<key>country</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+257</string>
		<key>country</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+855</string>
		<key>country</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+237</string>
		<key>country</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1</string>
		<key>country</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+238</string>
		<key>country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+ 345</string>
		<key>country</key>
		<string>Cayman Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+236</string>
		<key>country</key>
		<string>Central African Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+235</string>
		<key>country</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+56</string>
		<key>country</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+86</string>
		<key>country</key>
		<string>China</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>Christmas Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>Cocos-Keeling Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+57</string>
		<key>country</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+269</string>
		<key>country</key>
		<string>Comoros</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+242</string>
		<key>country</key>
		<string>Congo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+243</string>
		<key>country</key>
		<string>Congo, Dem. Rep. of (Zaire)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+682</string>
		<key>country</key>
		<string>Cook Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+506</string>
		<key>country</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+385</string>
		<key>country</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+53</string>
		<key>country</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+599</string>
		<key>country</key>
		<string>Curacao</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+537</string>
		<key>country</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+420</string>
		<key>country</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+45</string>
		<key>country</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+246</string>
		<key>country</key>
		<string>Diego Garcia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+253</string>
		<key>country</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 767</string>
		<key>country</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 809</string>
		<key>country</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+670</string>
		<key>country</key>
		<string>East Timor</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+56</string>
		<key>country</key>
		<string>Easter Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+593</string>
		<key>country</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+20</string>
		<key>country</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+503</string>
		<key>country</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+240</string>
		<key>country</key>
		<string>Equatorial Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+291</string>
		<key>country</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+372</string>
		<key>country</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+251</string>
		<key>country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+500</string>
		<key>country</key>
		<string>Falkland Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+298</string>
		<key>country</key>
		<string>Faroe Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+679</string>
		<key>country</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+358</string>
		<key>country</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+33</string>
		<key>country</key>
		<string>France</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+596</string>
		<key>country</key>
		<string>French Antilles</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+594</string>
		<key>country</key>
		<string>French Guiana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+689</string>
		<key>country</key>
		<string>French Polynesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+241</string>
		<key>country</key>
		<string>Gabon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+220</string>
		<key>country</key>
		<string>Gambia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+995</string>
		<key>country</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+49</string>
		<key>country</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+233</string>
		<key>country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+350</string>
		<key>country</key>
		<string>Gibraltar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+30</string>
		<key>country</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+299</string>
		<key>country</key>
		<string>Greenland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 473</string>
		<key>country</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+590</string>
		<key>country</key>
		<string>Guadeloupe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 671</string>
		<key>country</key>
		<string>Guam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+502</string>
		<key>country</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+224</string>
		<key>country</key>
		<string>Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+245</string>
		<key>country</key>
		<string>Guinea-Bissau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+595</string>
		<key>country</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+509</string>
		<key>country</key>
		<string>Haiti</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+504</string>
		<key>country</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+852</string>
		<key>country</key>
		<string>Hong Kong SAR China</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+36</string>
		<key>country</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+354</string>
		<key>country</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+91</string>
		<key>country</key>
		<string>India</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+62</string>
		<key>country</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+98</string>
		<key>country</key>
		<string>Iran</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+964</string>
		<key>country</key>
		<string>Iraq</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+353</string>
		<key>country</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+972</string>
		<key>country</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+39</string>
		<key>country</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+225</string>
		<key>country</key>
		<string>Ivory Coast</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 876</string>
		<key>country</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+81</string>
		<key>country</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+962</string>
		<key>country</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+7 7</string>
		<key>country</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+254</string>
		<key>country</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+686</string>
		<key>country</key>
		<string>Kiribati</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+965</string>
		<key>country</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+996</string>
		<key>country</key>
		<string>Kyrgyzstan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+856</string>
		<key>country</key>
		<string>Laos</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+371</string>
		<key>country</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+961</string>
		<key>country</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+266</string>
		<key>country</key>
		<string>Lesotho</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+231</string>
		<key>country</key>
		<string>Liberia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+218</string>
		<key>country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+423</string>
		<key>country</key>
		<string>Liechtenstein</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+370</string>
		<key>country</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+352</string>
		<key>country</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+853</string>
		<key>country</key>
		<string>Macau SAR China</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+389</string>
		<key>country</key>
		<string>Macedonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+261</string>
		<key>country</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+265</string>
		<key>country</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+60</string>
		<key>country</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+960</string>
		<key>country</key>
		<string>Maldives</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+223</string>
		<key>country</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+356</string>
		<key>country</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+692</string>
		<key>country</key>
		<string>Marshall Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+596</string>
		<key>country</key>
		<string>Martinique</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+222</string>
		<key>country</key>
		<string>Mauritania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+230</string>
		<key>country</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+262</string>
		<key>country</key>
		<string>Mayotte</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+52</string>
		<key>country</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+691</string>
		<key>country</key>
		<string>Micronesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 808</string>
		<key>country</key>
		<string>Midway Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+373</string>
		<key>country</key>
		<string>Moldova</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+377</string>
		<key>country</key>
		<string>Monaco</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+976</string>
		<key>country</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+382</string>
		<key>country</key>
		<string>Montenegro</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1664</string>
		<key>country</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+212</string>
		<key>country</key>
		<string>Morocco</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+95</string>
		<key>country</key>
		<string>Myanmar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+264</string>
		<key>country</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+674</string>
		<key>country</key>
		<string>Nauru</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+977</string>
		<key>country</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+31</string>
		<key>country</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+599</string>
		<key>country</key>
		<string>Netherlands Antilles</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 869</string>
		<key>country</key>
		<string>Nevis</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+687</string>
		<key>country</key>
		<string>New Caledonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+64</string>
		<key>country</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+505</string>
		<key>country</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+227</string>
		<key>country</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+234</string>
		<key>country</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+683</string>
		<key>country</key>
		<string>Niue</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+672</string>
		<key>country</key>
		<string>Norfolk Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+850</string>
		<key>country</key>
		<string>North Korea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 670</string>
		<key>country</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+47</string>
		<key>country</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+968</string>
		<key>country</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+92</string>
		<key>country</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+680</string>
		<key>country</key>
		<string>Palau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+970</string>
		<key>country</key>
		<string>Palestinian Territory</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+507</string>
		<key>country</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+675</string>
		<key>country</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+595</string>
		<key>country</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+51</string>
		<key>country</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+63</string>
		<key>country</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+48</string>
		<key>country</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+351</string>
		<key>country</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 787</string>
		<key>country</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+974</string>
		<key>country</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+262</string>
		<key>country</key>
		<string>Reunion</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+40</string>
		<key>country</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+7</string>
		<key>country</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+250</string>
		<key>country</key>
		<string>Rwanda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+685</string>
		<key>country</key>
		<string>Samoa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+378</string>
		<key>country</key>
		<string>San Marino</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+966</string>
		<key>country</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+221</string>
		<key>country</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+381</string>
		<key>country</key>
		<string>Serbia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+248</string>
		<key>country</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+232</string>
		<key>country</key>
		<string>Sierra Leone</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+65</string>
		<key>country</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+421</string>
		<key>country</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+386</string>
		<key>country</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+677</string>
		<key>country</key>
		<string>Solomon Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+27</string>
		<key>country</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+500</string>
		<key>country</key>
		<string>South Georgia and the South Sandwich Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+82</string>
		<key>country</key>
		<string>South Korea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+34</string>
		<key>country</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+94</string>
		<key>country</key>
		<string>Sri Lanka</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+249</string>
		<key>country</key>
		<string>Sudan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+597</string>
		<key>country</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+268</string>
		<key>country</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+46</string>
		<key>country</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+41</string>
		<key>country</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+963</string>
		<key>country</key>
		<string>Syria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+886</string>
		<key>country</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+992</string>
		<key>country</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+255</string>
		<key>country</key>
		<string>Tanzania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+66</string>
		<key>country</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+670</string>
		<key>country</key>
		<string>Timor Leste</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+228</string>
		<key>country</key>
		<string>Togo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+690</string>
		<key>country</key>
		<string>Tokelau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+676</string>
		<key>country</key>
		<string>Tonga</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 868</string>
		<key>country</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+216</string>
		<key>country</key>
		<string>Tunisia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+90</string>
		<key>country</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+993</string>
		<key>country</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 649</string>
		<key>country</key>
		<string>Turks and Caicos Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+688</string>
		<key>country</key>
		<string>Tuvalu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 340</string>
		<key>country</key>
		<string>U.S. Virgin Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+256</string>
		<key>country</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+380</string>
		<key>country</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+971</string>
		<key>country</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+44</string>
		<key>country</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+598</string>
		<key>country</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+998</string>
		<key>country</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+678</string>
		<key>country</key>
		<string>Vanuatu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+58</string>
		<key>country</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+84</string>
		<key>country</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1 808</string>
		<key>country</key>
		<string>Wake Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+681</string>
		<key>country</key>
		<string>Wallis and Futuna</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+967</string>
		<key>country</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+260</string>
		<key>country</key>
		<string>Zambia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+255</string>
		<key>country</key>
		<string>Zanzibar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+263</string>
		<key>country</key>
		<string>Zimbabwe</string>
	</dict>
</array>
</plist>
