<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
           <key>code</key>
           <string>+55</string>
           <key>country</key>
           <string>Brasil</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+244</string>
           <key>country</key>
           <string>Angola</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+238</string>
           <key>country</key>
           <string>Cabo Verde</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+245</string>
           <key>country</key>
           <string>Guiné-Bissau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+853</string>
           <key>country</key>
           <string>Macau SAR China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor Leste</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 840</string>
           <key>country</key>
           <string>Abecásia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+93</string>
           <key>country</key>
           <string>Afeganistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+27</string>
           <key>country</key>
           <string>África do Sul</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+355</string>
           <key>country</key>
           <string>Albânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+49</string>
           <key>country</key>
           <string>Alemanha</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+376</string>
           <key>country</key>
           <string>Andorra</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 264</string>
           <key>country</key>
           <string>Anguilla</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>Antígua e Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Antilhas Francesas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Antilhas Holandesas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+966</string>
           <key>country</key>
           <string>Arábia Saudita</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+213</string>
           <key>country</key>
           <string>Argélia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+54</string>
           <key>country</key>
           <string>Argentina</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+374</string>
           <key>country</key>
           <string>Armênia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+297</string>
           <key>country</key>
           <string>Aruba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Austrália</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+43</string>
           <key>country</key>
           <string>Áustria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+994</string>
           <key>country</key>
           <string>Azerbaijão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 242</string>
           <key>country</key>
           <string>Bahamas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+880</string>
           <key>country</key>
           <string>Bangladesh</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 246</string>
           <key>country</key>
           <string>Barbados</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+973</string>
           <key>country</key>
           <string>Barein</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+32</string>
           <key>country</key>
           <string>Bélgica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+501</string>
           <key>country</key>
           <string>Belize</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+229</string>
           <key>country</key>
           <string>Benin</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 441</string>
           <key>country</key>
           <string>Bermuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+375</string>
           <key>country</key>
           <string>Bielorrússia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+591</string>
           <key>country</key>
           <string>Bolívia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+387</string>
           <key>country</key>
           <string>Bósnia e Herzegovina</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+267</string>
           <key>country</key>
           <string>Botsuana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+673</string>
           <key>country</key>
           <string>Brunei</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+359</string>
           <key>country</key>
           <string>Bulgária</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+226</string>
           <key>country</key>
           <string>Burkina Faso</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+257</string>
           <key>country</key>
           <string>Burundi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+975</string>
           <key>country</key>
           <string>Butão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+237</string>
           <key>country</key>
           <string>Camarões</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+855</string>
           <key>country</key>
           <string>Camboja</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>Canadá</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+974</string>
           <key>country</key>
           <string>Catar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 7</string>
           <key>country</key>
           <string>Cazaquistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+235</string>
           <key>country</key>
           <string>Chade</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Chile</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+86</string>
           <key>country</key>
           <string>China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+537</string>
           <key>country</key>
           <string>Chipre</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+65</string>
           <key>country</key>
           <string>Cingapura</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+57</string>
           <key>country</key>
           <string>Colômbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+269</string>
           <key>country</key>
           <string>Comores</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+243</string>
           <key>country</key>
           <string>Congo, Rep. Dem. (Zaire)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>Congo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+850</string>
           <key>country</key>
           <string>Coreia do Norte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+82</string>
           <key>country</key>
           <string>Coreia do Sul</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+225</string>
           <key>country</key>
           <string>Costa do Marfim</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+506</string>
           <key>country</key>
           <string>Costa Rica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+385</string>
           <key>country</key>
           <string>Croácia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+53</string>
           <key>country</key>
           <string>Cuba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Curaçao</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Diego Garcia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+45</string>
           <key>country</key>
           <string>Dinamarca</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+253</string>
           <key>country</key>
           <string>Djibouti</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 767</string>
           <key>country</key>
           <string>Dominica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+20</string>
           <key>country</key>
           <string>Egito</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+503</string>
           <key>country</key>
           <string>El Salvador</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+971</string>
           <key>country</key>
           <string>Emirados Árabes Unidos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+593</string>
           <key>country</key>
           <string>Equador</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+291</string>
           <key>country</key>
           <string>Eritreia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+421</string>
           <key>country</key>
           <string>Eslováquia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+386</string>
           <key>country</key>
           <string>Eslovênia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+34</string>
           <key>country</key>
           <string>Espanha</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>Estados Unidos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+372</string>
           <key>country</key>
           <string>Estônia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+251</string>
           <key>country</key>
           <string>Etiópia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+679</string>
           <key>country</key>
           <string>Fiji</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+63</string>
           <key>country</key>
           <string>Filipinas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+358</string>
           <key>country</key>
           <string>Finlândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+33</string>
           <key>country</key>
           <string>França</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+241</string>
           <key>country</key>
           <string>Gabão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+220</string>
           <key>country</key>
           <string>Gâmbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+233</string>
           <key>country</key>
           <string>Gana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Geórgia do Sul e Ilhas Sandwich do Sul</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+995</string>
           <key>country</key>
           <string>Georgia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+350</string>
           <key>country</key>
           <string>Gibraltar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 473</string>
           <key>country</key>
           <string>Granada</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+30</string>
           <key>country</key>
           <string>Grécia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+299</string>
           <key>country</key>
           <string>Groenlândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+590</string>
           <key>country</key>
           <string>Guadalupe</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 671</string>
           <key>country</key>
           <string>Guam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+502</string>
           <key>country</key>
           <string>Guatemala</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+594</string>
           <key>country</key>
           <string>Guiana Francesa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Guiana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+240</string>
           <key>country</key>
           <string>Guiné Equatorial</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+224</string>
           <key>country</key>
           <string>Guiné</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+509</string>
           <key>country</key>
           <string>Haiti</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+31</string>
           <key>country</key>
           <string>Holanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+504</string>
           <key>country</key>
           <string>Honduras</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+852</string>
           <key>country</key>
           <string>Hong Kong SAR China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+36</string>
           <key>country</key>
           <string>Hungria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+967</string>
           <key>country</key>
           <string>Iêmen</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Ilha Christmas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+247</string>
           <key>country</key>
           <string>Ilha de Ascensão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Ilha de Norfolk</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Ilha de Páscoa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>Ilha Midway</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>Ilha Wake</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+ 345</string>
           <key>country</key>
           <string>Ilhas Cayman</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Ilhas Cocos-Keeling</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+682</string>
           <key>country</key>
           <string>Ilhas Cook</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+298</string>
           <key>country</key>
           <string>Ilhas Faroe</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Ilhas Malvinas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 670</string>
           <key>country</key>
           <string>Ilhas Marianas do Norte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+692</string>
           <key>country</key>
           <string>Ilhas Marshall</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+677</string>
           <key>country</key>
           <string>Ilhas Salomão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 649</string>
           <key>country</key>
           <string>Ilhas Turks e Caicos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 284</string>
           <key>country</key>
           <string>Ilhas Virgens Britânicas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 340</string>
           <key>country</key>
           <string>Ilhas Virgens dos EUA</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+91</string>
           <key>country</key>
           <string>Índia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+62</string>
           <key>country</key>
           <string>Indonésia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+98</string>
           <key>country</key>
           <string>Irã</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+964</string>
           <key>country</key>
           <string>Iraque</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+353</string>
           <key>country</key>
           <string>Irlanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+354</string>
           <key>country</key>
           <string>Islândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+972</string>
           <key>country</key>
           <string>Israel</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+39</string>
           <key>country</key>
           <string>Itália</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 876</string>
           <key>country</key>
           <string>Jamaica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+81</string>
           <key>country</key>
           <string>Japão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+962</string>
           <key>country</key>
           <string>Jordânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+686</string>
           <key>country</key>
           <string>Kiribati</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+965</string>
           <key>country</key>
           <string>Kuwait</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+856</string>
           <key>country</key>
           <string>Laos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+266</string>
           <key>country</key>
           <string>Lesoto</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+371</string>
           <key>country</key>
           <string>Letônia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+961</string>
           <key>country</key>
           <string>Líbano</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+231</string>
           <key>country</key>
           <string>Libéria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+218</string>
           <key>country</key>
           <string>Líbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+423</string>
           <key>country</key>
           <string>Liechtenstein</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+370</string>
           <key>country</key>
           <string>Lituânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+352</string>
           <key>country</key>
           <string>Luxemburgo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+389</string>
           <key>country</key>
           <string>Macedônia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+261</string>
           <key>country</key>
           <string>Madagascar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Maiote</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+60</string>
           <key>country</key>
           <string>Malásia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+265</string>
           <key>country</key>
           <string>Malawi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+960</string>
           <key>country</key>
           <string>Maldivas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+223</string>
           <key>country</key>
           <string>Mali</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+356</string>
           <key>country</key>
           <string>Malta</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+212</string>
           <key>country</key>
           <string>Marrocos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Martinica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+230</string>
           <key>country</key>
           <string>Maurício</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+222</string>
           <key>country</key>
           <string>Mauritânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+52</string>
           <key>country</key>
           <string>México</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+95</string>
           <key>country</key>
           <string>Mianmar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+691</string>
           <key>country</key>
           <string>Micronésia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+373</string>
           <key>country</key>
           <string>Moldávia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+377</string>
           <key>country</key>
           <string>Mônaco</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+976</string>
           <key>country</key>
           <string>Mongólia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+382</string>
           <key>country</key>
           <string>Montenegro</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1664</string>
           <key>country</key>
           <string>Montserrat</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>Namíbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+674</string>
           <key>country</key>
           <string>Nauru</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+977</string>
           <key>country</key>
           <string>Nepal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 869</string>
           <key>country</key>
           <string>Nevis</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+505</string>
           <key>country</key>
           <string>Nicarágua</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+227</string>
           <key>country</key>
           <string>Níger</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+234</string>
           <key>country</key>
           <string>Nigéria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+683</string>
           <key>country</key>
           <string>Niue</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+47</string>
           <key>country</key>
           <string>Noruega</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+687</string>
           <key>country</key>
           <string>Nova Caledônia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+64</string>
           <key>country</key>
           <string>Nova Zelândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+968</string>
           <key>country</key>
           <string>Omã</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+680</string>
           <key>country</key>
           <string>Palau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+507</string>
           <key>country</key>
           <string>Panamá</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+675</string>
           <key>country</key>
           <string>Papua Nova Guiné</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+92</string>
           <key>country</key>
           <string>Paquistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Paraguai</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+51</string>
           <key>country</key>
           <string>Peru</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+689</string>
           <key>country</key>
           <string>Polinésia Francesa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+48</string>
           <key>country</key>
           <string>Polônia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 787</string>
           <key>country</key>
           <string>Porto Rico</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+351</string>
           <key>country</key>
           <string>Portugal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+254</string>
           <key>country</key>
           <string>Quênia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+996</string>
           <key>country</key>
           <string>Quirguistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+44</string>
           <key>country</key>
           <string>Reino Unido</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+236</string>
           <key>country</key>
           <string>República Centro-Africana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+420</string>
           <key>country</key>
           <string>República Checa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 809</string>
           <key>country</key>
           <string>República Dominicana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Reunião</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+40</string>
           <key>country</key>
           <string>Romênia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+250</string>
           <key>country</key>
           <string>Ruanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7</string>
           <key>country</key>
           <string>Rússia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 684</string>
           <key>country</key>
           <string>Samoa Americana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+685</string>
           <key>country</key>
           <string>Samoa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+378</string>
           <key>country</key>
           <string>San Marino</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+221</string>
           <key>country</key>
           <string>Senegal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+232</string>
           <key>country</key>
           <string>Serra Leoa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+381</string>
           <key>country</key>
           <string>Sérvia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+248</string>
           <key>country</key>
           <string>Seychelles</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+963</string>
           <key>country</key>
           <string>Síria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+94</string>
           <key>country</key>
           <string>Sri Lanka</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>Suazilândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+249</string>
           <key>country</key>
           <string>Sudão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+46</string>
           <key>country</key>
           <string>Suécia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+41</string>
           <key>country</key>
           <string>Suíça</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+597</string>
           <key>country</key>
           <string>Suriname</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+992</string>
           <key>country</key>
           <string>Tadjiquistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+66</string>
           <key>country</key>
           <string>Tailândia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+886</string>
           <key>country</key>
           <string>Taiwan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Tanzânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Território Britânico do Oceano Índico</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+970</string>
           <key>country</key>
           <string>Território Palestino</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Territórios Externos da Austrália</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor Leste</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+228</string>
           <key>country</key>
           <string>Togo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+690</string>
           <key>country</key>
           <string>Tokelau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+676</string>
           <key>country</key>
           <string>Tonga</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 868</string>
           <key>country</key>
           <string>Trinidad e Tobago</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+216</string>
           <key>country</key>
           <string>Tunísia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+993</string>
           <key>country</key>
           <string>Turcomenistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+90</string>
           <key>country</key>
           <string>Turquia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+688</string>
           <key>country</key>
           <string>Tuvalu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+380</string>
           <key>country</key>
           <string>Ucrânia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+256</string>
           <key>country</key>
           <string>Uganda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+598</string>
           <key>country</key>
           <string>Uruguai</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+998</string>
           <key>country</key>
           <string>Uzbequistão</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+678</string>
           <key>country</key>
           <string>Vanuatu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+58</string>
           <key>country</key>
           <string>Venezuela</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+84</string>
           <key>country</key>
           <string>Vietnã</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+681</string>
           <key>country</key>
           <string>Wallis e Futuna</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+260</string>
           <key>country</key>
           <string>Zâmbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Zanzibar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+263</string>
           <key>country</key>
           <string>Zimbábue</string>
        </dict></array>
	</plist>