<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
           <key>code</key>
           <string>+54</string>
           <key>country</key>
           <string>Argentina</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+591</string>
           <key>country</key>
           <string>Bolivia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Chile</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+57</string>
           <key>country</key>
           <string>Colombia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+506</string>
           <key>country</key>
           <string>Costa Rica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+53</string>
           <key>country</key>
           <string>Cuba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+593</string>
           <key>country</key>
           <string>Ecuador</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+503</string>
           <key>country</key>
           <string>El Salvador</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+34</string>
           <key>country</key>
           <string>España</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>Estados Unidos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+63</string>
           <key>country</key>
           <string>Filipinas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+502</string>
           <key>country</key>
           <string>Guatemala</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+240</string>
           <key>country</key>
           <string>Guinea Ecuatorial</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+504</string>
           <key>country</key>
           <string>Honduras</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+52</string>
           <key>country</key>
           <string>México</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+505</string>
           <key>country</key>
           <string>Nicaragua</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+507</string>
           <key>country</key>
           <string>Panamá</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Paraguay</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+51</string>
           <key>country</key>
           <string>Perú</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 787</string>
           <key>country</key>
           <string>Puerto Rico</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 809</string>
           <key>country</key>
           <string>República Dominicana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+598</string>
           <key>country</key>
           <string>Uruguay</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+58</string>
           <key>country</key>
           <string>Venezuela</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 840</string>
           <key>country</key>
           <string>Abjasia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+93</string>
           <key>country</key>
           <string>Afganistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+355</string>
           <key>country</key>
           <string>Albania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+49</string>
           <key>country</key>
           <string>Alemania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+376</string>
           <key>country</key>
           <string>Andorra</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+244</string>
           <key>country</key>
           <string>Angola</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 264</string>
           <key>country</key>
           <string>Anguila</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>Antigua y Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Antillas francesas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Antillas Holandesas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+966</string>
           <key>country</key>
           <string>Arabia Saudita</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+213</string>
           <key>country</key>
           <string>Argelia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+374</string>
           <key>country</key>
           <string>Armenia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+297</string>
           <key>country</key>
           <string>Aruba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+247</string>
           <key>country</key>
           <string>Ascensión</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Australia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+43</string>
           <key>country</key>
           <string>Austria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+994</string>
           <key>country</key>
           <string>Azerbaiyán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 242</string>
           <key>country</key>
           <string>Bahamas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+880</string>
           <key>country</key>
           <string>Bangladesh</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 246</string>
           <key>country</key>
           <string>Barbados</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 268</string>
           <key>country</key>
           <string>Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+973</string>
           <key>country</key>
           <string>Baréin</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+32</string>
           <key>country</key>
           <string>Bélgica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+501</string>
           <key>country</key>
           <string>Belice</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+229</string>
           <key>country</key>
           <string>Benin</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 441</string>
           <key>country</key>
           <string>Bermuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+375</string>
           <key>country</key>
           <string>Bielorrusia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+387</string>
           <key>country</key>
           <string>Bosnia y Herzegovina</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+267</string>
           <key>country</key>
           <string>Botsuana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+55</string>
           <key>country</key>
           <string>Brasil</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+673</string>
           <key>country</key>
           <string>Brunéi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+359</string>
           <key>country</key>
           <string>Bulgaria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+226</string>
           <key>country</key>
           <string>Burkina Faso</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+257</string>
           <key>country</key>
           <string>Burundi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+975</string>
           <key>country</key>
           <string>Bután</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+238</string>
           <key>country</key>
           <string>Cabo Verde</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+855</string>
           <key>country</key>
           <string>Camboya</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+237</string>
           <key>country</key>
           <string>Camerún</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>Canadá</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+974</string>
           <key>country</key>
           <string>Catar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+235</string>
           <key>country</key>
           <string>Chad</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+86</string>
           <key>country</key>
           <string>China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+537</string>
           <key>country</key>
           <string>Chipre</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+269</string>
           <key>country</key>
           <string>Comoras</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>Congo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+850</string>
           <key>country</key>
           <string>Corea del Norte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+82</string>
           <key>country</key>
           <string>Corea del Sur</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+225</string>
           <key>country</key>
           <string>Costa de Marfil</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+385</string>
           <key>country</key>
           <string>Croacia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Curazao</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Diego García</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+45</string>
           <key>country</key>
           <string>Dinamarca</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 767</string>
           <key>country</key>
           <string>Dominica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+20</string>
           <key>country</key>
           <string>Egipto</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+971</string>
           <key>country</key>
           <string>Emiratos Árabes Unidos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+291</string>
           <key>country</key>
           <string>Eritrea</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+421</string>
           <key>country</key>
           <string>Eslovaquia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+386</string>
           <key>country</key>
           <string>Eslovenia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+372</string>
           <key>country</key>
           <string>Estonia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+251</string>
           <key>country</key>
           <string>Etiopía</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+358</string>
           <key>country</key>
           <string>Finlandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+679</string>
           <key>country</key>
           <string>Fiyi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+33</string>
           <key>country</key>
           <string>Francia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+241</string>
           <key>country</key>
           <string>Gabón</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+220</string>
           <key>country</key>
           <string>Gambia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+995</string>
           <key>country</key>
           <string>Georgia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+233</string>
           <key>country</key>
           <string>Ghana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+350</string>
           <key>country</key>
           <string>Gibraltar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 473</string>
           <key>country</key>
           <string>Granada</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+30</string>
           <key>country</key>
           <string>Grecia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+299</string>
           <key>country</key>
           <string>Groenlandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+590</string>
           <key>country</key>
           <string>Guadalupe</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 671</string>
           <key>country</key>
           <string>Guam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+594</string>
           <key>country</key>
           <string>Guayana Francesa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+245</string>
           <key>country</key>
           <string>Guinea-Bissau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+224</string>
           <key>country</key>
           <string>Guinea</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Guyana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+509</string>
           <key>country</key>
           <string>Haití</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+36</string>
           <key>country</key>
           <string>Hungría</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+91</string>
           <key>country</key>
           <string>India</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+62</string>
           <key>country</key>
           <string>Indonesia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+964</string>
           <key>country</key>
           <string>Irak</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+98</string>
           <key>country</key>
           <string>Irán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+353</string>
           <key>country</key>
           <string>Irlanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Isla de Navidad</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Isla de Pascua</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Isla Norfolk</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>Isla Wake</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+354</string>
           <key>country</key>
           <string>Islandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+ 345</string>
           <key>country</key>
           <string>Islas Caimán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Islas Cocos-Keeling</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+682</string>
           <key>country</key>
           <string>Islas Cook</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+298</string>
           <key>country</key>
           <string>Islas Feroe</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Islas Georgias del Sur y Sandwich del Sur</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Islas Malvinas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 670</string>
           <key>country</key>
           <string>Islas Marianas del Norte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+692</string>
           <key>country</key>
           <string>Islas Marshall</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 808</string>
           <key>country</key>
           <string>Islas Midway</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+677</string>
           <key>country</key>
           <string>Islas Salomón</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 649</string>
           <key>country</key>
           <string>Islas Turcas y Caicos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 284</string>
           <key>country</key>
           <string>Islas Vírgenes Británicas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 340</string>
           <key>country</key>
           <string>Islas Vírgenes de los EE.UU.</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+972</string>
           <key>country</key>
           <string>Israel</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+39</string>
           <key>country</key>
           <string>Italia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 876</string>
           <key>country</key>
           <string>Jamaica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+81</string>
           <key>country</key>
           <string>Japón</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+962</string>
           <key>country</key>
           <string>Jordania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 7</string>
           <key>country</key>
           <string>Kazajstán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+254</string>
           <key>country</key>
           <string>Kenia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+996</string>
           <key>country</key>
           <string>Kirguistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+686</string>
           <key>country</key>
           <string>Kiribati</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+965</string>
           <key>country</key>
           <string>Kuwait</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+856</string>
           <key>country</key>
           <string>Laos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+266</string>
           <key>country</key>
           <string>Lesoto</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+371</string>
           <key>country</key>
           <string>Letonia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+961</string>
           <key>country</key>
           <string>Líbano</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+231</string>
           <key>country</key>
           <string>Liberia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+218</string>
           <key>country</key>
           <string>Libia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+423</string>
           <key>country</key>
           <string>Liechtenstein</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+370</string>
           <key>country</key>
           <string>Lituania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+352</string>
           <key>country</key>
           <string>Luxemburgo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+389</string>
           <key>country</key>
           <string>Macedonia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+261</string>
           <key>country</key>
           <string>Madagascar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+60</string>
           <key>country</key>
           <string>Malasia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+265</string>
           <key>country</key>
           <string>Malawi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+960</string>
           <key>country</key>
           <string>Maldivas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+223</string>
           <key>country</key>
           <string>Malí</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+356</string>
           <key>country</key>
           <string>Malta</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+212</string>
           <key>country</key>
           <string>Marruecos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Martinica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+230</string>
           <key>country</key>
           <string>Mauricio</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+222</string>
           <key>country</key>
           <string>Mauritania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Mayotte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+691</string>
           <key>country</key>
           <string>Micronesia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+373</string>
           <key>country</key>
           <string>Moldavia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+377</string>
           <key>country</key>
           <string>Mónaco</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+976</string>
           <key>country</key>
           <string>Mongolia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+382</string>
           <key>country</key>
           <string>Montenegro</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1664</string>
           <key>country</key>
           <string>Montserrat</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+95</string>
           <key>country</key>
           <string>Myanmar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>Namibia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+674</string>
           <key>country</key>
           <string>Nauru</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+977</string>
           <key>country</key>
           <string>Nepal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 869</string>
           <key>country</key>
           <string>Nevis</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+227</string>
           <key>country</key>
           <string>Níger</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+234</string>
           <key>country</key>
           <string>Nigeria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+683</string>
           <key>country</key>
           <string>Niue</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+47</string>
           <key>country</key>
           <string>Noruega</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+687</string>
           <key>country</key>
           <string>Nueva Caledonia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+64</string>
           <key>country</key>
           <string>Nueva Zelandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+968</string>
           <key>country</key>
           <string>Omán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+31</string>
           <key>country</key>
           <string>Países Bajos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+92</string>
           <key>country</key>
           <string>Pakistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+680</string>
           <key>country</key>
           <string>Palau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+675</string>
           <key>country</key>
           <string>Papua Nueva Guinea</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+689</string>
           <key>country</key>
           <string>Polinesia Francesa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+48</string>
           <key>country</key>
           <string>Polonia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+351</string>
           <key>country</key>
           <string>Portugal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+852</string>
           <key>country</key>
           <string>RAE de Hong Kong de China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+853</string>
           <key>country</key>
           <string>RAE de Macao de China</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+44</string>
           <key>country</key>
           <string>Reino Unido</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+236</string>
           <key>country</key>
           <string>República Centroafricana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+420</string>
           <key>country</key>
           <string>República Checa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+243</string>
           <key>country</key>
           <string>República Democrática del Congo (Zaire)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Reunión</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+250</string>
           <key>country</key>
           <string>Ruanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+40</string>
           <key>country</key>
           <string>Rumania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7</string>
           <key>country</key>
           <string>Rusia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 684</string>
           <key>country</key>
           <string>Samoa Americana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+685</string>
           <key>country</key>
           <string>Samoa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+378</string>
           <key>country</key>
           <string>San Marino</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+221</string>
           <key>country</key>
           <string>Senegal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+381</string>
           <key>country</key>
           <string>Serbia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+248</string>
           <key>country</key>
           <string>Seychelles</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+232</string>
           <key>country</key>
           <string>Sierra Leona</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+65</string>
           <key>country</key>
           <string>Singapur</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+963</string>
           <key>country</key>
           <string>Siria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+94</string>
           <key>country</key>
           <string>Sri Lanka</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+27</string>
           <key>country</key>
           <string>Sudáfrica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+249</string>
           <key>country</key>
           <string>Sudán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+46</string>
           <key>country</key>
           <string>Suecia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+41</string>
           <key>country</key>
           <string>Suiza</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+597</string>
           <key>country</key>
           <string>Surinam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>Swazilandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+66</string>
           <key>country</key>
           <string>Tailandia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+886</string>
           <key>country</key>
           <string>Taiwán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Tanzania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+992</string>
           <key>country</key>
           <string>Tayikistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Territorio Británico del Océano Índico</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+970</string>
           <key>country</key>
           <string>Territorio palestino</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Territorios Externos Australianos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor del Este</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor Leste</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+228</string>
           <key>country</key>
           <string>Togo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+690</string>
           <key>country</key>
           <string>Tokelau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+676</string>
           <key>country</key>
           <string>Tonga</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1 868</string>
           <key>country</key>
           <string>Trinidad y Tobago</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+216</string>
           <key>country</key>
           <string>Túnez</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+993</string>
           <key>country</key>
           <string>Turkmenistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+90</string>
           <key>country</key>
           <string>Turquía</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+688</string>
           <key>country</key>
           <string>Tuvalu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+380</string>
           <key>country</key>
           <string>Ucrania</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+256</string>
           <key>country</key>
           <string>Uganda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+998</string>
           <key>country</key>
           <string>Uzbekistán</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+678</string>
           <key>country</key>
           <string>Vanuatu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+84</string>
           <key>country</key>
           <string>Vietnam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+681</string>
           <key>country</key>
           <string>Wallis y Futuna</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+967</string>
           <key>country</key>
           <string>Yemen</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+253</string>
           <key>country</key>
           <string>Yibuti</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+260</string>
           <key>country</key>
           <string>Zambia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Zanzibar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+263</string>
           <key>country</key>
           <string>Zimbabue</string>
        </dict></array>
	</plist>