<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
           <key>code</key>
           <string>+86</string>
           <key>country</key>
           <string>中國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+852</string>
           <key>country</key>
           <string>香港特別行政區</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+853</string>
           <key>country</key>
           <string>澳門特別行政區</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+886</string>
           <key>country</key>
           <string>台灣</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+975</string>
           <key>country</key>
           <string>不丹</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+808</string>
           <key>country</key>
           <string>中途島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+236</string>
           <key>country</key>
           <string>中非共和國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+45</string>
           <key>country</key>
           <string>丹麥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+994</string>
           <key>country</key>
           <string>亞塞拜然</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+247</string>
           <key>country</key>
           <string>亞森欣</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+374</string>
           <key>country</key>
           <string>亞美尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+972</string>
           <key>country</key>
           <string>以色列</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+964</string>
           <key>country</key>
           <string>伊拉克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>伊斯特島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+98</string>
           <key>country</key>
           <string>伊朗</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7</string>
           <key>country</key>
           <string>俄羅斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+359</string>
           <key>country</key>
           <string>保加利亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+385</string>
           <key>country</key>
           <string>克羅埃西亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+354</string>
           <key>country</key>
           <string>冰島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+423</string>
           <key>country</key>
           <string>列支敦斯登</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+218</string>
           <key>country</key>
           <string>利比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>剛果</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+243</string>
           <key>country</key>
           <string>剛果民主共和國 (薩伊)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+241</string>
           <key>country</key>
           <string>加彭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>加拿大</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+36</string>
           <key>country</key>
           <string>匈牙利</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+850</string>
           <key>country</key>
           <string>北韓</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>北馬里安納群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+868</string>
           <key>country</key>
           <string>千里達及托巴哥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>南喬治亞及桑威奇群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+27</string>
           <key>country</key>
           <string>南非</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+82</string>
           <key>country</key>
           <string>南韓</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+974</string>
           <key>country</key>
           <string>卡達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+62</string>
           <key>country</key>
           <string>印尼</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+91</string>
           <key>country</key>
           <string>印度</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+291</string>
           <key>country</key>
           <string>厄利垂亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+593</string>
           <key>country</key>
           <string>厄瓜多</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+53</string>
           <key>country</key>
           <string>古巴</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>古拉果</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>可可斯群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>史瓦濟蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+253</string>
           <key>country</key>
           <string>吉布地</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+996</string>
           <key>country</key>
           <string>吉爾吉斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+686</string>
           <key>country</key>
           <string>吉里巴斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+688</string>
           <key>country</key>
           <string>吐瓦魯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 7</string>
           <key>country</key>
           <string>哈薩克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+57</string>
           <key>country</key>
           <string>哥倫比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+590</string>
           <key>country</key>
           <string>哥德普洛</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+506</string>
           <key>country</key>
           <string>哥斯大黎加</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+237</string>
           <key>country</key>
           <string>喀麥隆</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+995</string>
           <key>country</key>
           <string>喬治亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+649</string>
           <key>country</key>
           <string>土克斯及開科斯群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+993</string>
           <key>country</key>
           <string>土庫曼</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+90</string>
           <key>country</key>
           <string>土耳其</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>地牙哥加西亞島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>坦尚尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+20</string>
           <key>country</key>
           <string>埃及</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+992</string>
           <key>country</key>
           <string>塔吉克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+221</string>
           <key>country</key>
           <string>塞內加爾</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+248</string>
           <key>country</key>
           <string>塞席爾</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+381</string>
           <key>country</key>
           <string>塞爾維亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+52</string>
           <key>country</key>
           <string>墨西哥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+228</string>
           <key>country</key>
           <string>多哥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+809</string>
           <key>country</key>
           <string>多明尼加共和國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+767</string>
           <key>country</key>
           <string>多米尼克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+234</string>
           <key>country</key>
           <string>奈及利亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+43</string>
           <key>country</key>
           <string>奧地利</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+58</string>
           <key>country</key>
           <string>委內瑞拉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+808</string>
           <key>country</key>
           <string>威克島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+880</string>
           <key>country</key>
           <string>孟加拉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+244</string>
           <key>country</key>
           <string>安哥拉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>安圭拉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>安提瓜和巴布達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+376</string>
           <key>country</key>
           <string>安道爾</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+504</string>
           <key>country</key>
           <string>宏都拉斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+691</string>
           <key>country</key>
           <string>密克羅尼西亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+856</string>
           <key>country</key>
           <string>寮國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+260</string>
           <key>country</key>
           <string>尚比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+505</string>
           <key>country</key>
           <string>尼加拉瓜</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+227</string>
           <key>country</key>
           <string>尼日</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+977</string>
           <key>country</key>
           <string>尼泊爾</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+869</string>
           <key>country</key>
           <string>尼維斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+970</string>
           <key>country</key>
           <string>巴勒斯坦</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>巴哈馬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+92</string>
           <key>country</key>
           <string>巴基斯坦</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+675</string>
           <key>country</key>
           <string>巴布亞紐幾內亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>巴布達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>巴拉圭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+507</string>
           <key>country</key>
           <string>巴拿馬</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+973</string>
           <key>country</key>
           <string>巴林</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+55</string>
           <key>country</key>
           <string>巴西</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>巴貝多</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+226</string>
           <key>country</key>
           <string>布吉納法索</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+30</string>
           <key>country</key>
           <string>希臘</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+680</string>
           <key>country</key>
           <string>帛琉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+224</string>
           <key>country</key>
           <string>幾內亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+245</string>
           <key>country</key>
           <string>幾內亞比索</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+49</string>
           <key>country</key>
           <string>德國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+372</string>
           <key>country</key>
           <string>愛沙尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+353</string>
           <key>country</key>
           <string>愛爾蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+690</string>
           <key>country</key>
           <string>托克勞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+371</string>
           <key>country</key>
           <string>拉脫維亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+47</string>
           <key>country</key>
           <string>挪威</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+420</string>
           <key>country</key>
           <string>捷克共和國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+212</string>
           <key>country</key>
           <string>摩洛哥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+373</string>
           <key>country</key>
           <string>摩爾多瓦</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+377</string>
           <key>country</key>
           <string>摩納哥</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+963</string>
           <key>country</key>
           <string>敘利亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+679</string>
           <key>country</key>
           <string>斐濟</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+421</string>
           <key>country</key>
           <string>斯洛伐克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+386</string>
           <key>country</key>
           <string>斯洛維尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+94</string>
           <key>country</key>
           <string>斯里蘭卡</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+65</string>
           <key>country</key>
           <string>新加坡</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+687</string>
           <key>country</key>
           <string>新喀里多尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+81</string>
           <key>country</key>
           <string>日本</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>智利</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+676</string>
           <key>country</key>
           <string>東加</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>東帝汶</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>東帝汶</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+235</string>
           <key>country</key>
           <string>查德</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+855</string>
           <key>country</key>
           <string>柬埔寨</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+473</string>
           <key>country</key>
           <string>格瑞那達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+299</string>
           <key>country</key>
           <string>格陵蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>桑吉巴</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+230</string>
           <key>country</key>
           <string>模里西斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+32</string>
           <key>country</key>
           <string>比利時</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+673</string>
           <key>country</key>
           <string>汶萊</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+966</string>
           <key>country</key>
           <string>沙烏地阿拉伯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+33</string>
           <key>country</key>
           <string>法國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+594</string>
           <key>country</key>
           <string>法屬圭亞那</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>法屬安替列斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+689</string>
           <key>country</key>
           <string>法屬玻里尼西亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+298</string>
           <key>country</key>
           <string>法羅群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+787</string>
           <key>country</key>
           <string>波多黎各</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+387</string>
           <key>country</key>
           <string>波希尼亞及赫塞哥維那</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+267</string>
           <key>country</key>
           <string>波札那</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+48</string>
           <key>country</key>
           <string>波蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+66</string>
           <key>country</key>
           <string>泰國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+509</string>
           <key>country</key>
           <string>海地</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>澳大利亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>澳大利亞外部領土</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+380</string>
           <key>country</key>
           <string>烏克蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+256</string>
           <key>country</key>
           <string>烏干達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+598</string>
           <key>country</key>
           <string>烏拉圭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+998</string>
           <key>country</key>
           <string>烏茲別克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+876</string>
           <key>country</key>
           <string>牙買加</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+232</string>
           <key>country</key>
           <string>獅子山</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+591</string>
           <key>country</key>
           <string>玻利維亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+46</string>
           <key>country</key>
           <string>瑞典</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+41</string>
           <key>country</key>
           <string>瑞士</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+502</string>
           <key>country</key>
           <string>瓜地馬拉</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+681</string>
           <key>country</key>
           <string>瓦利斯及福杜納</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+220</string>
           <key>country</key>
           <string>甘比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>留尼旺島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+375</string>
           <key>country</key>
           <string>白俄羅斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+441</string>
           <key>country</key>
           <string>百慕達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+250</string>
           <key>country</key>
           <string>盧安達</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+352</string>
           <key>country</key>
           <string>盧森堡</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+350</string>
           <key>country</key>
           <string>直布羅陀</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>福克蘭群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+682</string>
           <key>country</key>
           <string>科克群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+965</string>
           <key>country</key>
           <string>科威特</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+51</string>
           <key>country</key>
           <string>秘魯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+216</string>
           <key>country</key>
           <string>突尼西亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+370</string>
           <key>country</key>
           <string>立陶宛</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+962</string>
           <key>country</key>
           <string>約旦</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+683</string>
           <key>country</key>
           <string>紐威島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+64</string>
           <key>country</key>
           <string>紐西蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+677</string>
           <key>country</key>
           <string>索羅門群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+238</string>
           <key>country</key>
           <string>維德角</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+95</string>
           <key>country</key>
           <string>緬甸</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+40</string>
           <key>country</key>
           <string>羅馬尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>美國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+340</string>
           <key>country</key>
           <string>美屬維爾京群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+684</string>
           <key>country</key>
           <string>美屬薩摩亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+39</string>
           <key>country</key>
           <string>義大利</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>聖誕島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+378</string>
           <key>country</key>
           <string>聖馬利諾</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+254</string>
           <key>country</key>
           <string>肯亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+358</string>
           <key>country</key>
           <string>芬蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+44</string>
           <key>country</key>
           <string>英國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>英屬印度洋領土</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+284</string>
           <key>country</key>
           <string>英屬維爾京群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+222</string>
           <key>country</key>
           <string>茅利塔尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>荷屬安替列斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+31</string>
           <key>country</key>
           <string>荷蘭</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+63</string>
           <key>country</key>
           <string>菲律賓</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+678</string>
           <key>country</key>
           <string>萬那杜</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+967</string>
           <key>country</key>
           <string>葉門</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+269</string>
           <key>country</key>
           <string>葛摩</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+351</string>
           <key>country</key>
           <string>葡萄牙</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+976</string>
           <key>country</key>
           <string>蒙古</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+382</string>
           <key>country</key>
           <string>蒙特內哥羅</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+664</string>
           <key>country</key>
           <string>蒙特色拉特島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+257</string>
           <key>country</key>
           <string>蒲隆地</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>蓋亞納</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+685</string>
           <key>country</key>
           <string>薩摩亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+503</string>
           <key>country</key>
           <string>薩爾瓦多</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+249</string>
           <key>country</key>
           <string>蘇丹</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+597</string>
           <key>country</key>
           <string>蘇利南</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+251</string>
           <key>country</key>
           <string>衣索比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+34</string>
           <key>country</key>
           <string>西班牙</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>諾福克島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+674</string>
           <key>country</key>
           <string>諾魯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+225</string>
           <key>country</key>
           <string>象牙海岸</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+229</string>
           <key>country</key>
           <string>貝南</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+501</string>
           <key>country</key>
           <string>貝里斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+231</string>
           <key>country</key>
           <string>賴比瑞亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+266</string>
           <key>country</key>
           <string>賴索托</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+537</string>
           <key>country</key>
           <string>賽普勒斯</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+240</string>
           <key>country</key>
           <string>赤道幾內亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+84</string>
           <key>country</key>
           <string>越南</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+263</string>
           <key>country</key>
           <string>辛巴威</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+233</string>
           <key>country</key>
           <string>迦納</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>那米比亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+ 345</string>
           <key>country</key>
           <string>開曼群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+671</string>
           <key>country</key>
           <string>關島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+93</string>
           <key>country</key>
           <string>阿富汗</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+840</string>
           <key>country</key>
           <string>阿布哈茲</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+971</string>
           <key>country</key>
           <string>阿拉伯聯合大公國</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+968</string>
           <key>country</key>
           <string>阿曼</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+54</string>
           <key>country</key>
           <string>阿根廷</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+213</string>
           <key>country</key>
           <string>阿爾及利亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+355</string>
           <key>country</key>
           <string>阿爾巴尼亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+297</string>
           <key>country</key>
           <string>阿魯巴</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>馬丁尼克</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+60</string>
           <key>country</key>
           <string>馬來西亞</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+389</string>
           <key>country</key>
           <string>馬其頓</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+223</string>
           <key>country</key>
           <string>馬利</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+265</string>
           <key>country</key>
           <string>馬拉威</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+356</string>
           <key>country</key>
           <string>馬爾他</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+960</string>
           <key>country</key>
           <string>馬爾地夫</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>馬約特島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+692</string>
           <key>country</key>
           <string>馬紹爾群島</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+261</string>
           <key>country</key>
           <string>馬達加斯加</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+961</string>
           <key>country</key>
           <string>黎巴嫩</string>
        </dict></array>
	</plist>