<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
           <key>code</key>
           <string>+33</string>
           <key>country</key>
           <string>France</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+840</string>
           <key>country</key>
           <string>Abkhazie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+93</string>
           <key>country</key>
           <string>Afghanistan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+27</string>
           <key>country</key>
           <string>Afrique du Sud</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+355</string>
           <key>country</key>
           <string>Albanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+213</string>
           <key>country</key>
           <string>Algérie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+49</string>
           <key>country</key>
           <string>Allemagne</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+376</string>
           <key>country</key>
           <string>Andorre</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+244</string>
           <key>country</key>
           <string>Angola</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>Anguilla</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>Antigua-et-Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Antilles françaises</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Antilles néerlandaises</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+966</string>
           <key>country</key>
           <string>Arabie Saoudite</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+54</string>
           <key>country</key>
           <string>Argentine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+374</string>
           <key>country</key>
           <string>Arménie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+297</string>
           <key>country</key>
           <string>Aruba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+247</string>
           <key>country</key>
           <string>Ascension</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Australie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+43</string>
           <key>country</key>
           <string>Autriche</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+994</string>
           <key>country</key>
           <string>Azerbaïdjan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>Bahamas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+973</string>
           <key>country</key>
           <string>Bahreïn</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+880</string>
           <key>country</key>
           <string>Bangladesh</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Barbade</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>Barbuda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+32</string>
           <key>country</key>
           <string>Belgique</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+501</string>
           <key>country</key>
           <string>Belize</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+229</string>
           <key>country</key>
           <string>Bénin</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+441</string>
           <key>country</key>
           <string>Bermudes</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+975</string>
           <key>country</key>
           <string>Bhoutan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+375</string>
           <key>country</key>
           <string>Biélorussie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+591</string>
           <key>country</key>
           <string>Bolivie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+387</string>
           <key>country</key>
           <string>Bosnie-Herzégovine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+267</string>
           <key>country</key>
           <string>Botswana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+55</string>
           <key>country</key>
           <string>Brésil</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+673</string>
           <key>country</key>
           <string>Brunei</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+359</string>
           <key>country</key>
           <string>Bulgarie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+226</string>
           <key>country</key>
           <string>Burkina Faso</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+257</string>
           <key>country</key>
           <string>Burundi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+855</string>
           <key>country</key>
           <string>Cambodge</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+237</string>
           <key>country</key>
           <string>Cameroun</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>Canada</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+238</string>
           <key>country</key>
           <string>Cap Vert</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Chili</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+86</string>
           <key>country</key>
           <string>Chine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+537</string>
           <key>country</key>
           <string>Chypre</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+57</string>
           <key>country</key>
           <string>Colombie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+269</string>
           <key>country</key>
           <string>Comores</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+242</string>
           <key>country</key>
           <string>Congo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+850</string>
           <key>country</key>
           <string>Corée du Nord</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+82</string>
           <key>country</key>
           <string>Corée du Sud</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+506</string>
           <key>country</key>
           <string>Costa Rica</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+225</string>
           <key>country</key>
           <string>Côte d'Ivoire</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+385</string>
           <key>country</key>
           <string>Croatie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+53</string>
           <key>country</key>
           <string>Cuba</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+599</string>
           <key>country</key>
           <string>Curaçao</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+45</string>
           <key>country</key>
           <string>Danemark</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Diego Garcia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+253</string>
           <key>country</key>
           <string>Djibouti</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+767</string>
           <key>country</key>
           <string>Dominique</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+20</string>
           <key>country</key>
           <string>Égypte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+503</string>
           <key>country</key>
           <string>El Salvador</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+971</string>
           <key>country</key>
           <string>Émirats Arabes Unis</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+593</string>
           <key>country</key>
           <string>Équateur</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+291</string>
           <key>country</key>
           <string>Erythrée</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+34</string>
           <key>country</key>
           <string>Espagne</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+372</string>
           <key>country</key>
           <string>Estonie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+1</string>
           <key>country</key>
           <string>États-Unis</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+251</string>
           <key>country</key>
           <string>Éthiopie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+679</string>
           <key>country</key>
           <string>Fidji</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+358</string>
           <key>country</key>
           <string>Finlande</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+241</string>
           <key>country</key>
           <string>Gabon</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+220</string>
           <key>country</key>
           <string>Gambie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Géorgie du Sud et les Îles Sandwich du Sud</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+995</string>
           <key>country</key>
           <string>Géorgie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+233</string>
           <key>country</key>
           <string>Ghana</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+350</string>
           <key>country</key>
           <string>Gibraltar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+30</string>
           <key>country</key>
           <string>Grèce</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+473</string>
           <key>country</key>
           <string>Grenade</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+299</string>
           <key>country</key>
           <string>Groenland</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+590</string>
           <key>country</key>
           <string>Guadeloupe</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+671</string>
           <key>country</key>
           <string>Guam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+502</string>
           <key>country</key>
           <string>Guatemala</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+240</string>
           <key>country</key>
           <string>Guinée équatoriale</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+594</string>
           <key>country</key>
           <string>Guinée française</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+245</string>
           <key>country</key>
           <string>Guinée-Bissau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+224</string>
           <key>country</key>
           <string>Guinée</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Guyane</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+509</string>
           <key>country</key>
           <string>Haïti</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+504</string>
           <key>country</key>
           <string>Honduras</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+852</string>
           <key>country</key>
           <string>Hong Kong (Chine)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+36</string>
           <key>country</key>
           <string>Hongrie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Île Christmas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Île de la Réunion</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+808</string>
           <key>country</key>
           <string>Île de Midway</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+56</string>
           <key>country</key>
           <string>Île de Pâques</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+808</string>
           <key>country</key>
           <string>Île de Wake</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+230</string>
           <key>country</key>
           <string>Île Maurice</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Île Norfolk</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+ 345</string>
           <key>country</key>
           <string>Îles Caïmans</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+61</string>
           <key>country</key>
           <string>Îles Cocos Keeling</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+682</string>
           <key>country</key>
           <string>Îles Cook</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+500</string>
           <key>country</key>
           <string>Îles Falkland</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+298</string>
           <key>country</key>
           <string>Îles Féroé</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Îles Mariannes du Nord</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+692</string>
           <key>country</key>
           <string>Îles Marshall</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+677</string>
           <key>country</key>
           <string>Îles Salomon</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+649</string>
           <key>country</key>
           <string>Îles Turques et Caïques</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+340</string>
           <key>country</key>
           <string>Îles Vierges américaines</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+284</string>
           <key>country</key>
           <string>Îles Vierges britanniques</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+91</string>
           <key>country</key>
           <string>Inde</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+62</string>
           <key>country</key>
           <string>Indonésie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+98</string>
           <key>country</key>
           <string>Iran</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+964</string>
           <key>country</key>
           <string>Iraq</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+353</string>
           <key>country</key>
           <string>Irlande</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+354</string>
           <key>country</key>
           <string>Islande</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+972</string>
           <key>country</key>
           <string>Israël</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+39</string>
           <key>country</key>
           <string>Italie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+876</string>
           <key>country</key>
           <string>Jamaïque</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+81</string>
           <key>country</key>
           <string>Japon</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+962</string>
           <key>country</key>
           <string>Jordanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7 7</string>
           <key>country</key>
           <string>Kazakhstan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+254</string>
           <key>country</key>
           <string>Kenya</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+686</string>
           <key>country</key>
           <string>Kiribati</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+965</string>
           <key>country</key>
           <string>Koweit</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+996</string>
           <key>country</key>
           <string>Kyrgyzstan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+856</string>
           <key>country</key>
           <string>Laos</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+266</string>
           <key>country</key>
           <string>Lesotho</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+371</string>
           <key>country</key>
           <string>Lettonie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+961</string>
           <key>country</key>
           <string>Liban</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+231</string>
           <key>country</key>
           <string>Liberia</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+218</string>
           <key>country</key>
           <string>Libye</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+423</string>
           <key>country</key>
           <string>Liechtenstein</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+370</string>
           <key>country</key>
           <string>Lituanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+352</string>
           <key>country</key>
           <string>Luxembourg</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+853</string>
           <key>country</key>
           <string>Macau (Chine)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+389</string>
           <key>country</key>
           <string>Macédoine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+261</string>
           <key>country</key>
           <string>Madagascar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+60</string>
           <key>country</key>
           <string>Malaisie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+265</string>
           <key>country</key>
           <string>Malawi</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+960</string>
           <key>country</key>
           <string>Maldives</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+223</string>
           <key>country</key>
           <string>Mali</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+356</string>
           <key>country</key>
           <string>Malte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+212</string>
           <key>country</key>
           <string>Maroc</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+596</string>
           <key>country</key>
           <string>Martinique</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+222</string>
           <key>country</key>
           <string>Mauritanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+262</string>
           <key>country</key>
           <string>Mayotte</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+52</string>
           <key>country</key>
           <string>Mexique</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+691</string>
           <key>country</key>
           <string>Micronésie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+373</string>
           <key>country</key>
           <string>Moldavie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+377</string>
           <key>country</key>
           <string>Monaco</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+976</string>
           <key>country</key>
           <string>Mongolie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+382</string>
           <key>country</key>
           <string>Monténégro</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+664</string>
           <key>country</key>
           <string>Montserrat</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+95</string>
           <key>country</key>
           <string>Myanmar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+264</string>
           <key>country</key>
           <string>Namibie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+674</string>
           <key>country</key>
           <string>Nauru</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+977</string>
           <key>country</key>
           <string>Népal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+869</string>
           <key>country</key>
           <string>Nevis</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+505</string>
           <key>country</key>
           <string>Nicaragua</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+227</string>
           <key>country</key>
           <string>Niger</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+234</string>
           <key>country</key>
           <string>Nigéria</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+683</string>
           <key>country</key>
           <string>Niue</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+47</string>
           <key>country</key>
           <string>Norvège</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+687</string>
           <key>country</key>
           <string>Nouvelle Calédonie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+64</string>
           <key>country</key>
           <string>Nouvelle Zélande</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+968</string>
           <key>country</key>
           <string>Oman</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+998</string>
           <key>country</key>
           <string>Ouzbékistan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+92</string>
           <key>country</key>
           <string>Pakistan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+680</string>
           <key>country</key>
           <string>Palau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+507</string>
           <key>country</key>
           <string>Panama</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+675</string>
           <key>country</key>
           <string>Papouasie-Nouvelle-Guinée</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+595</string>
           <key>country</key>
           <string>Paraguay</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+31</string>
           <key>country</key>
           <string>Pays-Bas</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+51</string>
           <key>country</key>
           <string>Pérou</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+63</string>
           <key>country</key>
           <string>Philippines</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+48</string>
           <key>country</key>
           <string>Pologne</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+689</string>
           <key>country</key>
           <string>Polynésie française</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+351</string>
           <key>country</key>
           <string>Portugal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+787</string>
           <key>country</key>
           <string>Puerto Rico</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+974</string>
           <key>country</key>
           <string>Qatar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+236</string>
           <key>country</key>
           <string>République centrafricaine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+243</string>
           <key>country</key>
           <string>République démocratique du Congo (Zaïre)</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+809</string>
           <key>country</key>
           <string>République dominicaine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+420</string>
           <key>country</key>
           <string>République Tchèque</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+40</string>
           <key>country</key>
           <string>Roumanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+44</string>
           <key>country</key>
           <string>Royaume-Uni</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+7</string>
           <key>country</key>
           <string>Russie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+250</string>
           <key>country</key>
           <string>Rwanda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+378</string>
           <key>country</key>
           <string>Saint-Martin</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+684</string>
           <key>country</key>
           <string>Samoa américaines</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+685</string>
           <key>country</key>
           <string>Samoa</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+221</string>
           <key>country</key>
           <string>Sénégal</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+381</string>
           <key>country</key>
           <string>Serbie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+248</string>
           <key>country</key>
           <string>Seychelles</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+232</string>
           <key>country</key>
           <string>Sierra Leone</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+65</string>
           <key>country</key>
           <string>Singapour</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+421</string>
           <key>country</key>
           <string>Slovaquie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+386</string>
           <key>country</key>
           <string>Slovénie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+249</string>
           <key>country</key>
           <string>Soudan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+94</string>
           <key>country</key>
           <string>Sri Lanka</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+46</string>
           <key>country</key>
           <string>Suède</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+41</string>
           <key>country</key>
           <string>Suisse</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+597</string>
           <key>country</key>
           <string>Suriname</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+268</string>
           <key>country</key>
           <string>Swaziland</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+963</string>
           <key>country</key>
           <string>Syrie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+886</string>
           <key>country</key>
           <string>Taiwan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+992</string>
           <key>country</key>
           <string>Tajikistan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Tanzanie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+235</string>
           <key>country</key>
           <string>Tchad</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+246</string>
           <key>country</key>
           <string>Territoire britannique de l'océan Indien</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+970</string>
           <key>country</key>
           <string>Territoire palestinien</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+672</string>
           <key>country</key>
           <string>Territoires extérieurs australiens</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+66</string>
           <key>country</key>
           <string>Thaïlande</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor oriental</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+670</string>
           <key>country</key>
           <string>Timor oriental</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+228</string>
           <key>country</key>
           <string>Togo</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+690</string>
           <key>country</key>
           <string>Tokelau</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+676</string>
           <key>country</key>
           <string>Tonga</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+868</string>
           <key>country</key>
           <string>Trinité-et-Tobago</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+216</string>
           <key>country</key>
           <string>Tunisie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+993</string>
           <key>country</key>
           <string>Turkménistan</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+90</string>
           <key>country</key>
           <string>Turquie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+688</string>
           <key>country</key>
           <string>Tuvalu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+256</string>
           <key>country</key>
           <string>Uganda</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+380</string>
           <key>country</key>
           <string>Ukraine</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+598</string>
           <key>country</key>
           <string>Uruguay</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+678</string>
           <key>country</key>
           <string>Vanuatu</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+58</string>
           <key>country</key>
           <string>Vénézuela</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+84</string>
           <key>country</key>
           <string>Vietnam</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+681</string>
           <key>country</key>
           <string>Wallis et Futuna</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+967</string>
           <key>country</key>
           <string>Yémen</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+260</string>
           <key>country</key>
           <string>Zambie</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+255</string>
           <key>country</key>
           <string>Zanzibar</string>
        </dict>
	<dict>
           <key>code</key>
           <string>+263</string>
           <key>country</key>
           <string>Zimbabwe</string>
        </dict></array>
	</plist>